{
  "swagger": "2.0",
  "info": {
    "title": "Tag",
    "description": "This is a tag api",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "tag.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "taglication/json"
  ],
  "paths": {
    "/tag/": {
      "get": {
        "summary": "retrieves all tags",
        "description": "retrieves all tags",
        "operationId": "getTags",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across tag",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tag response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tag"
        ]
      },
      "post": {
        "summary": "add tag",
        "description": "add a new tag",
        "operationId": "addTag",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "description": "name of the tag",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the tag",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tag response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tag"
        ]
      }
    },
    "/tag/{tag_id}/": {
      "get": {
        "summary": "get tag",
        "description": "get tag",
        "operationId": "getTag",
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "description": "the unique id for the tag",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tag response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tag"
        ]
      },
      "put": {
        "summary": "update tag",
        "description": "update tag",
        "operationId": "updateTag",
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "description": "unique tag_id for the tag",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "name of the tag",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the tag",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tag response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "tag",
          "tagging"
        ]
      },
      "delete": {
        "summary": "delete tag",
        "description": "deletes an tag",
        "operationId": "deleteTag",
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "description": "unique id for the tag",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "tag response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "tag",
          "tagging"
        ]
      }
    }
  },
  "definitions": {
    "tag": {
      "properties": {
        "tag": {
          "description": "name of the tag",
          "type": "string",
          "format": "label"
        },
        "tags": {
          "description": "tags for the tag",
          "type": "string"
        },
        "tag_id": {
          "description": "tag_id for the tag",
          "type": "string",
          "format": "id"
        }
      }
    }
  }
}
